:root
{
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desatured-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-heading: hsla(0, 0%, 100%, 0.6);
}

html
{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

body
{
    background-color: var(--very-dark-blue);
    margin: 0;
    padding: 0;
    position: relative;
}

main
{
    padding: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: calc(100vh - 5rem);
}

.card-container
{
    display: grid;
    max-width: 48rem;
    grid-template-rows: auto 1fr;
    background-color: var(--dark-desatured-blue);
    text-align: center;
    border-radius: 1rem;
}

.image-container
{
    width: 100%;
    object-fit: contain;
    object-position: center;
    position: relative;
}

.mobile-img
{
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
}

.desktop-img
{
    display: none;
}

.image-container span
{
    width: 100%;
    position: absolute;
    display: block;
    inset: 0;
    background-color: hsl(276, 100%, 27%);
    opacity: 0.5;
    border-radius: 1rem 1rem 0 0;
}

.stats-info
{
    display: grid;
    padding: 2.9rem;
}

.stats-title
{
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--white);
    margin-top: 0;
}

.stats-title span
{
    color: var(--soft-violet);
}

.stats-description
{
    font-size: 1.5rem;
    color: var(--slightly-transparent-white-heading);
    line-height: 2.6rem;
}

.stats-data
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2.2rem;
    padding-top: 2rem;
}

.stat-number
{
    font-size: 2.3rem;
    font-weight: 700;
    margin: 0;
    color: var(--white);
}

.stat-type
{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    color: var(--slightly-transparent-white-heading);
    letter-spacing: 0.1rem;
    margin: 0.6rem;
}

footer
{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 0;
    font-family: 'Lato', sans-serif;
}

.attribution
{
    color: var(--slightly-transparent-white-paragraph);
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.attribution a
{
    color: var(--soft-violet);
    text-decoration: none;
}

.attribution a:focus-visible
{
    color: white;
    border: 1px solid white;
}

.attribution a:hover
{
    color: white;
    transition: 100ms ease-in-out;
}

@media (min-width: 510px)
{
    .card-container
    {
        grid-template-rows: 1fr 1fr;
    }

    .stats-data
    {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px)
{
    .card-container
    {
        grid-template-rows: 1fr;
        grid-template-columns: 51% 49%;
        grid-template-areas: "info img";
        max-width: 110rem;
        text-align: left;
    }

    .image-container
    {
        grid-area: img;
    }

    .mobile-img
    {
        display: none;
    }

    .desktop-img
    {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 0 1rem 1rem 0;
        object-fit:cover;
    }

    .image-container span
    {
        border-radius: 0 1rem 1rem 0;
    }

    .stats-info
    {
        grid-area: info;
        padding: 4rem;
    }

    .stats-title
    {
        font-size: 3.6rem;
        margin: 0;
    }

    .stats-description
    {
        margin-top: 0;
        padding-right: 2rem;
    }

    .stats-data
    {
        gap: 1.6rem;
    }

    .stats-detail
    {
        display: flex;
        flex-flow: column;
        justify-content: end;
    }

    .stat-number
    {
        font-size: 2.4rem;
    }

    .stat-type
    {
        margin: 0;
        margin-top: 0.6rem;
    }
}

@media (min-width: 1200px)
{
    .stats-info
    {
        padding: 6.8rem;
        padding-right: 10rem;
    }
}
